<main class="container-fluid d-flex flex-column aling-items-center p-0">

  <h1 class="text-center mb-5">NOVEDADES</h1>

  <div class="row container-fluid">
    <div class="acordeon px-3 col-md-5">

      <div *ngFor="let novedad of arrayNovedades" class="accordion mb-2" id="accordionExample">

        <div  class="accordion-item">
          <!-- TITULO -->
          <h2 class="accordion-header">
            <button class="cabezal accordion-button" type="button" data-bs-toggle="collapse"
              [attr.data-bs-target]="'#collapse'+novedad._id" aria-expanded="true" [attr.aria-controls]="'#collapse'+novedad._id">
               fecha de Anuncio: {{novedad.fecha |date:'dd/MM/yy' }}
            </button>
          </h2>
          <!-- DESCRIPCION Y CUERPO -->
          <div [attr.id]="'collapse' + novedad._id" class="accordion-collapse collapse" data-bs-parent="#accordionExample">

            <div class="contenido accordion-body">{{novedad.descripcion}}</div>

            <p class="ps-3 py-2"> Publicado por: {{novedad.usuario.perfil}}</p>
            <p class="ps-3 py-2"> Estado: {{novedad.estado}}</p>
          </div>
        </div>

      </div>

    </div>

    <div class="col-md-5 d-none d-sm-block">
      <img class="" src="../../../assets/images/Novedades.svg" alt="image">
    </div>
  </div>
</main>
