<p>footer works!</p>
<hr style="color: transparent;">
<footer class="row row-cols-md-3 mt-4 container-fluid p-5 footer-perso">

    <section class="row text-center">
        <nav class="nav-social-networks d-flex flex-column align-items-center justify-content-around">
            <p class="section-subtitle"><b>Redes</b></p>
            <a class="nav-link" href="https://www.instagram.com/" target="_blank" style="font-size: 2rem" > <i class="bi bi-instagram"></i> </a>
            <a class="nav-link" href="https://www.facebook.com/" target="_blank" style="font-size: 2rem"> <i class="bi bi-facebook"></i>  </a>
            <a class="nav-link" href="https://x.com/login" target="_blank" style="font-size: 2rem" > <i class="bi bi-twitter-x"></i> </a>
        </nav>
    </section>

    <section class="row text-center">
        <nav class="nav-social-networks d-flex flex-column align-items-center justify-content-around">
            <p class="section-subtitle"><b>Locales</b></p>
            <a class="nav-link" href="#">Algo</a>
            <a class="nav-link" href="#">Algo</a>
            <a class="nav-link" href="#">Algo</a>
            <a class="nav-link" href="#">Algo</a>
        </nav>
    </section>
    
    <section class="row text-center">

        <p class="information-suscription">
            <b>Subscribete</b> para recibir contenido interesante, promos descuentos y mas!
        </p>
        <p>Copyright © 2024 Galeria Comercial, Inc.</p>
    </section>
</footer>
