
.background-perso{
    background: linear-gradient(to top,rgba(78, 37, 30, 0.785) ,white );
    min-height: 100vh; /* Asegura que el fondo cubra toda la altura de la ventana */
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-perso{
    background-color:rgba(78, 37, 30, 0.5);
    padding: 30px;
    color: white;
    border-radius: 15px;
    border-right: 1px solid #1f1f1f;
    border-bottom: 1px solid #1f1f1f;
    box-shadow: 10px 10px 20px rgb(0, 0, 0);
}
/* Celulares (pantallas menores de 576px) */
@media (max-width: 575.98px) {
    .cajaForm {
      max-width: 90%;
    }
    .form-control, .form-select {
      width: 100%;
    }
  }
  
  /* Tablets (pantallas entre 576px y 767.98px) */
  @media (min-width: 576px) and (max-width: 767.98px) {
    .cajaForm {
      max-width: 80%;
    }
    .form-control , .form-select{
      width: 90%;
    }
  }
  
  /* Portátiles (pantallas entre 768px y 991.98px) */
  @media (min-width: 768px) and (max-width: 991.98px) {
    .cajaForm {
      max-width: 70%;
      min-height: 90%;
    }
    .form-control, .form-select {
      width: 85%;
    }
  }
  
  /* Pantallas grandes (pantallas de 992px en adelante) */
  @media (min-width: 992px) {
    .cajaForm {
      max-width: 70%;
      min-height: 100%;
    }
    .form-control , .form-select{
      width: 80%;
    }
  }