<main class="container-fluid d-flex flex-column align-items-center justify-content-center my-5">

  <h2 class="mb-5"> FORMULARIO DE LOCALES </h2>

  <form action="" method="post"
    class="container-fluid py-5 mb-5 row col-10 col-md-8 col-lg-7 d-flex flex-column align-items-center rounded-4 border-perso ">

    <div
      class="d-flex flex-wrap flex-sm-nowrap p-4 p-sm-0 mb-3 d-flex align-items-center justify-content-center col-12 col-sm-10  gap-3">
      <label for="nombre" class="form-label col-sm-3">Nombre: </label>
      <input type="text" class="form-control input-focus" id="nombre" name="nombre" required [(ngModel)]="Local.nombre">
    </div>

    <div
      class="d-flex flex-wrap flex-sm-nowrap p-4 p-sm-0 mb-3 d-flex align-items-center justify-content-center col-12 col-sm-10  gap-3">
      <label for="superficie" class="form-label col-sm-3">superficie: <b>m²</b> </label>
      <input type="number" class="form-control input-focus" id="superficie" name="superficie"
        [(ngModel)]="Local.superficie" >
    </div>

    <div *ngIf="accion == 'new'"
      class="d-flex flex-wrap flex-sm-nowrap p-4 p-sm-0 mb-3 d-flex align-items-center justify-content-center col-12 col-sm-10  gap-3">
      <label for="habilitado" class="form-label col-sm-3">Habilitado: </label>
      <select #selectHabilitado id="habilitado" class="form-select input-focus" name="habilitado" required
        (change)="onChangeHabilitado()">
        <option value="-1" selected disabled>Seleccione una opción</option>
        <option value="true">Habilitado</option>
        <option value="false">No Habilitado</option>
      </select>
    </div>

    <div *ngIf="accion == 'update'"
      class="d-flex flex-wrap flex-sm-nowrap p-4 p-sm-0 mb-3 d-flex align-items-center justify-content-center col-12 col-sm-10  gap-3">
      <label for="habilitado" class="form-label col-sm-3">Habilitado: </label>
      <select #selectHabilitado id="habilitado" class="form-select input-focus" name="habilitado" required [(ngModel)]="Local.habilitado">
        <option value="true">Habilitado</option>
        <option value="false">No Habilitado</option>
      </select>
    </div>

    <div *ngIf="accion == 'update'"
      class="d-flex flex-wrap flex-sm-nowrap p-4 p-sm-0 mb-3 d-flex align-items-center justify-content-center col-12 col-sm-10  gap-3">
      <label for="alquilado" class="form-label col-sm-3">Alquilado:</label>
      <select id="alquilado" class="form-select input-focus" name="alquilado" required [(ngModel)]="Local.alquilado">
        <option value="" selected disabled>Alquilado:</option>
        <option value="true">Alquilado</option>
        <option value="false">No Alquilado</option>
      </select>
    </div>

    <div
      class="d-flex flex-wrap flex-sm-nowrap p-4 p-sm-0 mb-3 d-flex align-items-center justify-content-center col-12 col-sm-10  gap-3">
      <label for="costoMes" class="form-label col-sm-3">Coste de su alquiler: <b>$</b> </label>
      <input type="number" class="form-control input-focus" id="costoMes" name="costoMes" required
        [(ngModel)]="Local.costoMes">
    </div>


    <!-- IMAGEN AUN NO USABLE -->
    <div
      class="d-flex flex-wrap flex-sm-nowrap p-4 p-sm-0 mb-3 d-flex align-items-center justify-content-center col-12 col-sm-10  gap-3">
      <label for="pathimages" class="form-label col-sm-3">IMAGEN: </label>
      <input type="file" accept="image/*" required class="form-control input-focus" id="pathimages" name="pathimages"
        alt="Enviar" (change)="onFileSelected($event)">

      <img *ngIf="files.length" [src]="files[0].base64" alt="{{Local.nombre}}" class="img-thumbnail" style="max-width: 300px" />

      <img #imagenEditar *ngIf="accion == 'update' && files.length == 0" [src]="Local.pathimages" alt="{{Local.nombre}}" class="img-thumbnail" style="max-width: 300px" >

    </div>

    <div
      class="d-flex flex-wrap flex-sm-nowrap p-4 p-sm-0 mb-3 d-flex align-items-center justify-content-center col-12 col-sm-10  gap-3">
      <button *ngIf="accion == 'new'" type="submit" class="btn btn-perso col-2" (click)="registrar()">Agregar</button>
      <button *ngIf="accion == 'update'" type="button" class="btn btn-perso col-2" (click)="actualizar()"> Actualizar
      </button>
      <button type="submit" class="btn btn-perso col-2" (click)="cancelar()">Cancelar</button>
    </div>
  </form>

</main>
