<main class="container-fluid d-flex flex-column align-items-center justify-content-center my-5">
    <h2 class="mb-5">FORMULARIO ALQUILERES</h2>
    <form action="" method="post" class="container-fluid py-5 mb-5 row col-6 d-flex flex-column align-items-center rounded-4 border-perso ">
        <div class="mb-3 d-flex align-items-center justify-content-center col-8 m-auto gap-3">
            <label for="plazo-mes" class="form-label">Plazo Mes: </label>
            <input type="number" class="form-control input-focus" id="plazo-mes" name="plazo-mes" required  [(ngModel)]="alquiler.plazoMes" (change)="CalcularCostoAlquiler()" (change)="calcularFecha()">
        </div>
        <div class="mb-3 d-flex align-items-center justify-content-center col-8 m-auto gap-3">
            <p class="form-label" >Local:</p>
            <select id="local"  class="form-select input-focus" name="local" required aria-label="Default select example" [(ngModel)]="idLocal" (change)="asignarLocal()" (change)="CalcularCostoAlquiler()">
                <option value="" selected disabled>Locales</option>
                <option *ngFor="let e of locales" [value]="e._id"> {{e.nombre}}</option>
            </select>
        </div>
        <div class="mb-3 d-flex align-items-center justify-content-center col-8 m-auto gap-3">
            <p class="form-label" >Propietario:</p>
            <select id="propietario" class="form-select input-focus" name="propietario" required aria-label="Default select example" [(ngModel)]="idPropietario" (change)="asignarPropietario()">
                <option value="" selected disabled>Propietario</option>
                <option *ngFor="let e of propietarios" [value]="e.id">{{e.nombre}} {{e.apellido}}</option>
            </select>
        </div>
        <div class="mb-3 d-flex align-items-center justify-content-center col-8 m-auto gap-3">
            <label for="costo-alquiler" class="form-label">Costo Alquiler: </label>
            <input type="number" class="form-control input-focus" id="costo-alquiler" name="costo-alquiler" [value]="alquiler.local.costoMes != null ? alquiler.local.costoMes : 0" disabled required  [(ngModel)]="alquiler.costoAlquiler" >
        </div>
        <div class="mb-3 d-flex align-items-center justify-content-center col-8 m-auto gap-3">
            <label for="fecha-alquiler" class="form-label">Fecha Alquiler: </label>
            <input type="date" class="form-control input-focus" id="fecha-alquiler" name="fecha-alquiler" disabled [value]="getFormattedDate(alquiler.fechaAlquiler)">
        </div>
        <div class="mb-3 d-flex align-items-center justify-content-center col-8 m-auto gap-3">
            <label for="fecha-vencimiento" class="form-label">Fecha Vencimiento: </label>
            <input type="date" class="form-control input-focus" id="fecha-vencimiento" name="fecha-vencimiento" disabled  [value]="getFormattedDate(alquiler.fechaVencimiento)">
        </div>
        <button *ngIf="accion == 'new'" type="submit" class="btn btn-perso col-2" (click)="crearAlquiler()"  >Agregar</button>
        <button *ngIf="accion == 'update'" type="button" class="btn btn-perso col-2" (click)="modificarAlquiler()" > Actualizar </button>
    </form>
</main>