<div class="container-xxl">
    <header>
        <h1>Gestión de Promociones</h1>
    </header>
    <main>
        <button class="dark-button" (click)="registrarPromocion()">
            <i class="bi bi-plus-circle"></i>
            Registrar Promocion
        </button>
        <div class="table-responsive">
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover" id="promocionesTable">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Pathing</th>
                        <th scope="col">Descripción</th>
                     </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let n of promociones; let i = index">
                        <th scope="row">{{i+1}}</th>
                        <td>{{n.pathing}}</td>
                        <td>{{n.descripcion}}</td>
                       
                        <td>
                            <button type="button" class="btn btn-warning me-2">
                                <i class="bi bi-pen-fill"></i>
                            </button>
                            <button type="button" class="btn btn-danger" (click)="eliminarPromocion(n)">
                                <i class="bi bi-trash3-fill"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>
</div>
