.btn-perso{
    background-color:rgb(78 37 30);
    box-sizing: content-box;
    transition: transform 0.5s linear;
    border-radius: 7px;
    border: 2px solid transparent;
    color: white;
    font-weight: 500;
}
.btn-perso:active {
    background-color: transparent;
    color: rgb(78 37 30);
    box-shadow: 0 4px 15px 8px rgba(78, 37, 30, 0.734);
    border: 2px solid rgb(78 37 30);
}
.btn-perso:hover{
    transform: scale(1.06,1.06);
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.49);
}

.border-perso{
    border: 2px solid rgb(78 37 30);
    border-radius: 3%;
    border-color: rgb(78 37 30);
}

.s::-webkit-scrollbar {
    display: none;  /* Chrome, Safari, Opera */
}

