
  <ul class="nav justify-content-center bg-dark bg-gradient">
    <li class="nav-item">
      <a class="nav-link text-white text-opacity-75" aria-current="page" href="#">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white text-opacity-75" [routerLink]="['/login']">Login</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white text-opacity-75" [routerLink]="['/anuncios']" >Anuncios</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled text-white text-opacity-75" aria-disabled="true">Disabled</a>
    </li>
  </ul>
<router-outlet></router-outlet>

<footer></footer>