* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
body{
    background-image: url('../../../assets/images/Contour Line.svg');
    background-size: cover;
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center center; /* Centra la imagen */
    background-attachment: fixed; /* Mantiene la imagen fija al hacer scroll */
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
}
img{
    width: 100%;
 
}

form{
    width: 50%;
    background-color: rgba(65, 65, 65, 0.89);
    padding: 30px;
    border-radius:15px;
    color: rgb(214, 214, 214);
    border-right: 1px solid #1f1f1f;
    border-bottom: 1px solid #1f1f1f;
    box-shadow: 10px 10px 20px rgb(0, 0, 0);
    margin: 50px auto;
}
label{
    color: white;
}
a{
    text-decoration: none;
    color: white;
    font-weight: bold;

}
.btn{
    padding: 10px;
    color: rgb(255, 255, 255);
    font-family:cursive;
    background-color:#8d0197;
    border:1px solid #1f1f1f;
    transition: all 450ms;
}
.btn:hover{
    color: aliceblue;
    background-color: #5741ff
}
input{
    margin-top: 15px;
}
/**************MEDIA QUERIES*************************/

/*MOVIL*/
@media(max-width: 460px){
    .input{
       width: 100%;
   }
   
}



/*TABLET*/
@media(min-width:460px){
    .input{
        width: 100%;
    }

}
/*PC*/
@media(min-width:769px){
    .input{
        width: 70%;
    }
}