 <body>
  <div class="row">
    

    <div class="cajaForm col-xs-12 col-md-6">
      <form >
        <div class=" mb-3 mt-3">
          <label for="exampleInputEmail1" class="form-label">Email </label>
          <input type="email" class="input form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3 mt-3">
          <label for="exampleInputPassword1" class="form-label">Contraseña</label>
          <input type="password" class="input form-control" id="exampleInputPassword1">
        </div>
        <div class="form-check" id="check">
          <input type="checkbox" class="form-check-input mt-3 mx-0" id="exampleCheck1">
          <label class="mt-3 mx-2 form-check-label" for="exampleCheck1">Recordar</label>
          <p class="mx-4 mt-3">Olvidaste tu contraseña? <a href="#"> Click aqui</a></p>
        </div>
        <button type="submit" class="btn btn-perso">Iniciar Sesion</button>
        <p class="mt-3">Todavia no estas registrado? <a href="#"> Registrate</a></p>
        
      </form>
    </div>

    <div class="mt-5 cajaImg col-md-6 d-none d-sm-block">
      <img class=" " src="../../../assets/images/Login.svg" alt="image">
    </div>
  </div>  
</body>

