<div class="row">
  <div class="cajaForm col-xs-12 col-md-6">
    <form>
      <div class="mb-3 mt-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="input form-control" id="username" name="username" aria-describedby="emailHelp" [(ngModel)]="userform.username">
      </div>
      <div class="mb-3 mt-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="input form-control" id="password" name="password" [(ngModel)]="userform.password">
      </div>
      <button type="submit" class="btn btn-perso" (click)="login()">Iniciar Sesión</button>
    </form>
  </div>

  <div class="mt-5 cajaImg col-md-6 d-none d-sm-block">
    <img class="" src="../../../assets/images/Login.svg" alt="image">
  </div>
</div>