<body >
    <table class="table col-sm-12 col-md-8">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Usuario</th>
            <th scope="col">Email</th>
            <th scope="col">Tipo</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr >
            <th scope="row"></th>
            <td>juan45</td>
            <td>cliente1gmail.com</td>
            <td>Dueño</td>
            <td >
              <button class="btn btn-warning mx-3 my-1">Modificar</button>
              <button class="btn btn-danger mx-3 my-1" >Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>
</body>
